<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xt.mapper.DogMapper">
    <select id="selectById" resultType="com.xt.entity.Dog">
        select id, dname name, dage age, dgender gender from dog where id = #{id}
    </select>
</mapper>